// Colors
// Primary
$moderate-violet: hsl(263, 55%, 52%);
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

html{
    // 10px
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: $light-grayish-blue;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.font-body{
    font-size: 1.3rem;
}

.font-title{
    font-size: 2rem;
}

body{
    display: grid;
    place-content: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

@mixin card-colors($color: $white){
    color: $color;
    .person{
        .status{
            color: rgba($color: $color, $alpha: .5);
        }
    }
    .excerpt{
        margin-top: 2rem;
        color: rgba($color: $color, $alpha: .7);
    }
}

section.testimonials{
    margin: 4em 2em;
    display: grid;
    gap: 2em;
    .testimony-card{
        position: relative;
        padding: 2em 2.5em 2.5em;
        border-radius: 1em;
        box-shadow: 1em 2em 3em rgba($color: $light-gray, $alpha: .5);

        .person{
            display: flex;
            align-items: flex-start;
            column-gap: 1.5em;
            .avatar{
                width: 2.5em;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid rgba($color: $white, $alpha: .5);
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            .name{
                font-size: 1.3rem;
            }
        }

        .title{
            margin-top: .6em;
        }

        .excerpt{
            margin-top: 2rem;
        }

        &:nth-child(1){
            background-color: $moderate-violet;
            
            @include card-colors($white);
            
            & *{
                position: relative;
                z-index: 2;
            }

            .quotation-pattern{
                position: absolute;
                top: 0;
                right: 2em;
                z-index: 1;
            }
        }
        &:nth-child(2){
            background-color: $dark-grayish-blue;
            @include card-colors($white);
        }
        &:nth-child(3){
            background-color: $white;
            @include card-colors($dark-grayish-blue);
        }
        &:nth-child(4){
            background-color: $dark-blackish-blue;
            @include card-colors($white);
        }
        &:nth-child(5){
            background-color: $white;
            @include card-colors($dark-grayish-blue);
        }
    }
}

@media only screen and (min-width: 768px) {
    section.testimonials{
        display: grid;
        grid-template-areas:
            "a a b"
            "c d d"
            "e e e";
        grid-template-columns: repeat(3, 1fr);

        .testimony-card{
            &:nth-child(1){
                grid-area: a;
            }
            &:nth-child(2){
                grid-area: b;
            }
            &:nth-child(3){
                grid-area: c;
            }
            &:nth-child(4){
                grid-area: d;
            }
            &:nth-child(5){
                grid-area: e;
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    section.testimonials{
        max-width: 992px;
        grid-template-areas:
            "a a b e"
            "c d d e";
        grid-template-columns: repeat(4, 1fr);
    }
}